@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

body a {
  text-decoration: none;
}

body a:hover {
  color: #1eb4ff;
  text-decoration: none;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Raleway", sans-serif;
}

#header {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

#header .logo img {
  padding: 0.3em;
  margin: 0;
  max-height: 60px;
}

#header .nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #ab3fd8;
}

#header .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cpath d='M4 18h11c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h8c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h11c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1zm17.3 7.88L17.42 12l2.88-2.88a.996.996 0 1 0-1.41-1.41L15.3 11.3a.996.996 0 0 0 0 1.41l3.59 3.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

#hero {
  width: 100%;
  margin-top: 70px;
  padding: 60px 0;
}

#hero .grande {
  margin: 0 0 30px 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 2rem;
  color: #364146;
}

@media (max-width: 960px) {
  #hero .grande {
    font-size: 32px;
    line-height: 40px;
  }
}

#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 2.2rem;
  text-align: justify;
}

@media (max-width: 960px) {
  #hero h2 {
    font-size: 18px;
  }
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 70%;
  animation-name: zoom;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@media (max-width: 992px) {
  #hero .hero-img img {
    width: 60%;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

#hero .btn-mio {
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #252440;
  background: transparent;
  text-align: center;
  font-size: 1.3rem;
}

#hero .btn-mio:hover:after {
  top: 0;
  left: 0;
}

#hero .btn-mio:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #88b7fd;
}

#services h2 {
  font-size: 30px;
  font-weight: 700;
  color: #364146;
}

#services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

#services .icon-box:hover {
  transform: translateY(-5px);
}

#services .icon-box-pink:hover {
  border-color: #ff689b;
}

#services .icon-box-cyan:hover {
  border-color: #3fcdc7;
}

#services .icon-box-green:hover {
  border-color: #41cf2e;
}

#services .icon-box-blue:hover {
  border-color: #2282ff;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #364146;
  text-decoration: none;
}

#services .description {
  font-size: 15px;
  line-height: 28px;
}

#about {
  margin-top: 70px;
}

#about .container {
  background-color: #f7f8f9;
  padding: 60px 50px;
}

#about .container .content h3 {
  font-weight: 400;
  font-size: 32px;
  color: #364146;
  font-family: "Poppins", sans-serif;
}

#about .container .content p {
  text-align: justify;
}

#relatos .btn-mio {
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #252440;
  background: transparent;
  text-align: center;
  font-size: 1.3rem;
}

#relatos .btn-mio:hover:after {
  top: 0;
  left: 0;
}

#relatos .btn-mio:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #dca9f1;
}

#cards {
  text-align: justify;
}

#cards .card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 960px) {
  #cards .card-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  #cards .card-text {
    font-size: .8rem;
  }
}

#cards .btn-mio {
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #252440;
  background: transparent;
  text-align: center;
  font-size: 1.3rem;
}

#cards .btn-mio:hover:after {
  top: 0;
  left: 0;
}

#cards .btn-mio:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #97efce;
}

#contact .btn-mio {
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #252440;
  background: transparent;
  text-align: center;
  font-size: 1.3rem;
}

#contact .btn-mio:hover:after {
  top: 0;
  left: 0;
}

#contact .btn-mio:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ff689b;
}

#contact .redes img {
  max-height: 35px;
}

#contact h2 {
  font-size: 2rem;
  font-weight: 700;
}

footer .dibujo {
  width: 10%;
}

footer .nav-item {
  padding: 10px;
}

footer .nav-item:hover {
  text-decoration: underline;
  text-decoration-color: #ab3fd8;
}
