body{
	font-family: "Open Sans", sans-serif;
	color: #444444;
	a{
		text-decoration: none;
		&:hover{
			color: #1eb4ff;
  			text-decoration: none;
		}
	}
	h1, h2, h3, h4, h5, h6 {
  		font-family: "Raleway", sans-serif;
	}
}
#header{
	background-color: white;
	font-family: 'Raleway', sans-serif;
		.logo img{
		  	padding: 0.3em;
	  		margin: 0;
	  		max-height: 60px;
	  	}
	  	.nav-item a:hover{
	  		text-decoration: underline;
 			text-decoration-color: #ab3fd8;
	  	}
	}
#hero{
  	width: 100%;
  	margin-top: 70px;
  	padding: 60px 0;
  	h1{
  		margin: 0 0 20px 0;
  		font-size: 48px;
		font-weight: 700;
		line-height: 2rem;
		color: #364146;
		@media (max-width: 992px){
			font-size: 32px;
    		line-height: 40px;
		}
  	}
  	h2{
  		color: #576971;
  		margin-bottom: 30px;
  		font-size: 23px;
  		line-height: 2.2rem;
  		text-align: justify;
  		@media (max-width: 992px){
  			font-size: 18px;
  		}
  	}
  	.hero-img{
  		text-align: center;
  		img{
  			width: 70%;
			animation-name: zoom;
			animation-iteration-count: 1;
			animation-timing-function: linear;
			animation-duration: 3s;
			animation-delay: 0;
			animation-fill-mode: forwards;
			@media (max-width: 992px){
				width: 60%
			}
  		}
  		@keyframes zoom{
  			0%{
    			transform: scale(0.9);
  			}
  			100%{
    			transform: scale(1.2);
  			}
		}
  	}
}
